.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Align navigation links to the right */
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li:first-child {
    margin-left: 0; /* Remove margin from the first navigation item */
  }
  
  .profile-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 0 10px; /* Reduce padding for smaller screens */
    }
  
    .nav-links {
      flex-direction: column; /* Change navigation links to a column layout */
      align-items: flex-end; /* Align navigation links to the right */
    }
  
    .nav-links li {
      margin: 10px 0; /* Add vertical margin between navigation items */
    }
  
    .logo {
      font-size: 1.2rem; /* Decrease font size for smaller screens */
    }
  }
  